# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Ignore large files
backend/COFFEESHOP_1.mp4
backend/weights/avak_b16.pt